body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 50px 0;
}

#features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.feature {
    width: 30%;
    background-color: #f1c40f;
    padding: 20px;
    border-radius: 10px;
}

.feature h2 {
    color: #2c3e50;
}

.footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 20px 0;
}
